
.forecast{
    /* border: 1px solid var(--black); */
    margin: 25px;
    justify-content: center;
    align-content: center;
}
.forecastImg{
    justify-content: center;
    padding: 5px;
}
.forcastDay{
    justify-content: center;
    text-align: center;
    padding: 5px;
    margin: 5px;
}
.dayOfWeek{
    margin: 5px 10px;
    text-align: center;
}
.dayDescription{
    margin: 5px 10px;
    text-align: center;
}
.forecastNumberDegree{
    justify-content: center;
    align-content: center;
}
.forcastNumber{
    padding: 10px;
    justify-content: center;
    align-content: center;
}