:root{
    --black: #000000;
    --tron: #7DFDFE;
    --cultured: #F8F9FA;
}
.weatherBody{
    border: 1px solid var(--black);
    display: flex;
    flex-direction: column;
    border-radius: 0px !important;
    padding: 20px;
    margin: 35px auto;
    justify-content: center;
    align-content: center;
    /* background-color: var(--cultured) !important; */
    /* color: var(--black); */
}
.currentWeather{
    justify-content: space-evenly;
}
.forecastContainer{
    overflow: auto;
}

.eachForecast{
    display: flex;
    flex-direction: row;
}