:root{
    --black: #000000;
    --tron: #7DFDFE;
    --cultured: #F8F9FA;
}
.weatherBody{
    border: 3px solid var(--black);
    box-shadow: 1px 1px 10px #888888;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    transition: all 0.25s linear;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 10px auto;
    justify-content: center;
    align-content: center;
    height: 80vh;
}
.currentWeather{
    justify-content: space-evenly;
}


.eachForecast{
    display: flex;
    flex-direction: row;
}

.forcastContainer{
    overflow: scroll;
}