
.weatherDiv{
    /* background-color: var(--cultured) !important; */
    /* background-image: linear-gradient(to bottom right, var(--magTwoApp), var(--lBTwoApp)), url("../Images/pexels-skitterphoto-928.jpg"); */
    background-size: cover;
    margin: 25px auto;
    margin-bottom: 70px;
}