:root{
    --black: #000000;
    --tron: #7DFDFE;
    --cultured: #F8F9FA;
}
.weatherBody{
    border: 2px solid var(--black);
    padding: 20px;
    margin-top: 20px;
    justify-content: center;
    align-content: center;

}