:root{
    --black: #000000;
    --tron: #7DFDFE;
    --cultured: #F8F9FA;
}

.weatherHeader{
    /* border: 1px solid var(--black); */
    margin: 5px;
    text-align: center;
}
.weatherHeaderBody{
    flex-direction: column;
}