:root {
  --black: #000000;
  --tron: #7dfdfe;
  --cultured: #f8f9fa;
}

.weatherDay {
  /* border: 1px solid var(--black); */
  margin: 5px;
  text-align: center;
}
.weatherDayBody {
  text-align: center;
  flex-direction: column;
  padding: 5px;
}
.weatherTimezone {
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.surise,
.sunset {
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
#suriseTime {
  text-align: center;
}
