:root{
    --black: #000000;
    --tron: #7DFDFE;
    --cultured: #F8F9FA;
}
.homeContainer{
    border-radius: 13px;
    padding: 60px;
    justify-content: center;
    align-content: center;
}
.homeHeader{
    padding: 20px;
    border: 1px solid black;
    margin-bottom: 10px;
}
.homebodyContainer{
    border: 1px dashed black;
    padding: 20px;
}