:root{
    --black: #000000;
    --tron: #7DFDFE;
    --cultured: #F8F9FA;

}
.homeContainer{
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    position: relative;
    padding: 60px 15px 0;
    justify-content: center;
    align-content: center;
}
.homeJumbotron{
    box-shadow: 4px 4px 20px #888888;
    border: 3px solid var(--black);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;

}
.homeHeader{
    padding: 20px;
    border-bottom: 4px solid var(--black);
    box-shadow: 0 4px 2px -2px gray;
    margin-bottom: 20px;
    
}
.homebodyContainer{
    border: 3px solid black;
    padding: 20px;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    box-shadow: 4px 4px 20px #888888;
}