:root{
    --dark: #363537;
    --light: #E2E2E2;
}
.navbar-brand{
    padding: 5px;
    border: 4px solid var(--dark);
    transition: all 0.25s linear;
    box-shadow: 1px 1px 4px #888888;
    color: var(--dark);
    border-radius: 5px;
}
.navbar{
    background-color: var(--light);
    border: 4px solid var(--dark);
    box-shadow: 1px 1px 4px #888888;
    color: var(--dark);
    transition: all 0.25s linear;
    border-radius: 5px;
}