:root{
    --black: #000000;
    --tron: #7DFDFE;
    --cultured: #F8F9FA;
}
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 43px;
    background-color: var(--cultured);
}
.footerUl{
    border: 1px solid var(--black);
}
/* .na */