:root{
    --black: #000000;
    --tron: #7DFDFE;
    --cultured: #F8F9FA;
}
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 43px;
    border: 4px solid #363537;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    transition: all 0.25s linear;
    box-shadow: 1px 1px 10px #888888;
    background-color: var(--cultured);
}
/* .footerUl{
    border: 1px solid var(--black);
} */
/* .na */