.App {
  text-align: center;
}


#theButton{
  justify-self: center;
  align-self: center;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  transition: all 0.25s linear;
  border: 3px solid #363537 !important;
  outline: none;
}
.buttonDark{
 display: flex;
}
